{% extends 'blog/base.html' %}


{% block title %} Post {% endblock %}

{% block content_blog %}

<div class="row">
    <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
        {% for post in blog_post_user_list %}       
        <div class="intro">
            <h1 class="text-center" data-bss-hover-animate="pulse">&nbsp;
                <h3> {{ post.title }} </h3>
            </h1>
            <p class="text-center">
                <span class="by">by</span><a href="#"> {{ post.author }}  </a><span class="date">{{ post.date_created|date:"F d Y" }}</span>
                {{ post.content|safe }}
            </p>
        </div>
        {% endfor %}

        <div class="text">
            <p>

            </p>
            <figure class="figure d-block"></figure>
        </div>
    </div>
</div>

{% endblock %}